html{   
    width: 100%;   
    height: 100%;   
    overflow: hidden;   
    font-style: sans-serif;   
   }   
   
   body{   
    width: 100%;   
    height: 100%;   
    font-family: 'Open Sans',sans-serif;   
    margin: 0;   
   }   
   .wt{
       width: 100%;
       height: 5%;
       background-color: white;
   }
   .background{   
    width: 100%;   
    height: 90%;    
    background:url('../image/bg1.jpg');
    background-size:100% 100%; 
    background-repeat: no-repeat;
    opacity: 0.4;
   }

   .content{
    width: 100%;   
    height: 90%; 
   }

#loginDiv {
    width: 37%;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 650px; 
    /* background-color: rgba(121, 9, 100, 0.3);
    box-shadow: 7px 7px 17px rgba(67, 25, 114, 0.5);  */
    border-radius: 5px;
} 
#loginDiv{   
    width: 500px;   
    height: 400px; 
    margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;  
    opacity: 1;
   } 
p {
    margin-top: 10px;
    margin-left: 20px;
    color: orange;
}


input,
select {
    margin-left: 15px;
    border-radius: 5px;
    border-style: hidden;
    height: 30px;
    width: 140px;
    /* background-color: white; */
    outline: orange;
    color: black;
    border:0.5px solid orange;
    padding-left: 10px;
}

.button {
    border-color: orange;
    background-color: orange;;
    color: aliceblue;
    border-style: hidden;
    border-radius: 5px;
    width: 100px;
    height: 31px;
    font-size: 16px;
    border: 1px solid white; 
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: orange; 
}